/* Posicionamiento --> static, absolute, relative, fixed
Modelo de caja (Box model) --> margin, border, padding, content
Tipografía --> tipos, tamaños de fuente, etc
Estilos visuales --> box-shadow, border-radius, gradient, etc
Otros --> reglas CSS y más */

:root{
    /*Colores*/
    --bitcoin-orange: #F7931A;
    --soft-orange: #FFE9D5;
    --secondary-blue: #1A9AF7;
    --soft-blue: #E7F5FF;
    --warm-black: #201E1C;
    --warm-blackPlus: #282623;
    --grey: #BABABA;
    --off-white: #FAF8F7;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}

html{
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}

header{
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 295px;
    text-align: center;
}

header img{
    align-self: center;
    width: 150px;
    height: 24px;
    margin-top: 42px;
    
    

}

.header--title--container{
    margin-top: 33px;
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 288px;
    align-self: center;
    text-align: center;
}

.header--title--container h1{
    font-size: 2.4rem;
    line-height: 2.6rem;
    color: white;
    font-weight: 700;
}

.header--title--container p{
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: var(--soft-orange);
    margin-top: 2.4rem;
    font-weight: 500;
}

.header--button{
    text-decoration:none ;
    position: absolute;
    display: block;
    padding: 15px;
    width: 229px;
    height: 48px;
    background-color: var(--off-white);
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    font-size: 1.4rem;
    line-height: 1.823rem;
    font-weight: 700;
    color: var(--warm-black);
    bottom: -24px;
    left: calc(50% - 114.5px);
}

.header--button span{
    display: inline-block;
    width: 12px;
    height: 8px;
    margin-left: 14px;
    background-image: url('./assets/icons/vector.svg');
}


.transition{
    background-color: var(--off-white);
    width: 100%;
    height: 777px;
    text-align: center;
    padding-top: 59px;
}

.transition-img{
    background-image: url(./assets/imagenes/bitcoinBitcoinCuad.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 195px;
    width: 195px;
    margin: 0 auto;
}

.transition-text{
    width: 90%;
    max-width: 900px;
    min-width: 288px;
    height: 130px;
    margin: auto;
    margin-top: 40px;
    
}

.transition-text h2{
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 2.6rem;
    color: var(--warm-black);
}

.transition-text p{
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: 500;
    color: #757575;
    margin-top: 24px;
}

.transition-tabla-container{
    width: 235px;
    height: 194px;
    margin-left: calc(50% - 95px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 48px;
}

.tabla-container-tittle{
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 2.344rem;
    color: #FF9536;
    margin-left: 12px;
}


.tabla-monedas{
    width: 190px;
    height: 100%;
    display: grid;
    grid-template-columns: 101px 95px;
    grid-auto-rows: 39px;
    text-align: left;
    margin-top: 12px;
    background-color: white;
    border-radius: 8px;
}

.tabla-left{
    padding: 10px 12px;
    font-size: 1.6rem;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    line-height: 1.936rem;
    color: #B5B0AC;
    margin-right: 1px;
}

.tabla-right{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px 12px;
    font-size: 1.4rem;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    line-height: 1.694rem;
    color: #757575;
}

.tabla-right p{
    width: 49px;
    height: 17px;
}

.tabla-right-decrece{
    width: 12px;
    height: 12px;
    background-image: url(./assets/icons/flechaDecae.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.tabla-right-crece{
    width: 12px;
    height: 12px;
    background-image: url(./assets/icons/flechaIncre.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.transition-tabla-fecha{
    display: inline-block;
    width: 173px;
    height: 31px;
    margin-top: 16px;
    padding: 8px;
    background-color: var(--soft-orange);
    border-radius: 8px;

}

.transition-tabla-fecha p{
    color: var(--warm-blackPlus);
    font-size: 1.2rem;
    font-family: 'Inter', sans-serif;

}

.beneficios{
    width: 100%;
    min-width: 320px;
    height: 893px;
    background-color: var(--warm-black);
}

.beneficios-logo{
    width: 40.57px;
    height: 24.01px;
    position: relative;
    left: calc(50% - 18.72px);
    top: -12.05px;
}

.beneficios h4{
    width: 288px;
    height: 52px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 2.6rem;
    color: white;
}

.beneficios-subtitulo{
    width: 288px;
    height: 18px;
    margin-top: 24px;
    margin-bottom: 16px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: 500;
    color: #808080;
}

.beneficios-tipos{
    width: 288px;
    height: 152px;
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;
    padding: 14px 20px 22px 16px;
    background-color: var(--warm-blackPlus);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
    border-radius: 4px;
}

.beneficios-tipos-titulos{
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.8rem;
    color: white;
    margin: 10px 0;
}

.beneficios-tipos-subtitulos{
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: 500;
    color: #808080;
}
.beneficios-tipos-logos{
    display: block;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

#reloj{
    background-image: url(./assets/icons/reloj.svg);
}

#ojo{
    background-image: url(./assets/icons/ojo.svg);
}

#dinero{
    background-image: url(./assets/icons/signo.svg);
}

#check{
    background-image: url(./assets/icons/check.svg);
}

.comodin{
    width: 100%;
    min-width: 320px;
    height: 387px;
    background-image: url(./assets/imagenes/fotoComodin.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.comodin-frase{
    text-align: center;
    position: absolute;
    width: 288px;
    height: 26px;
    margin-top: 64px;
    left: calc(50% - 144px);
    font-size: 2.4rem;
    line-height: 2.6rem;
    font-weight: 700;
    color: white;
}

.planes{
    height: 537px;
    width: 100%;
    min-width: 320px;
    background-color: var(--off-white);
    text-align: center;
    
}

.planes-titulo{
    padding-top: 64px;
    font-size: 2.4rem;
    line-height: 2.6rem;
    font-weight: 700;
    color: var(--warm-black);
    text-align: center;

}

.planes-subtitulo{
    width: 288px;
    height: 36px;
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: 500;
    color: #757575;
    margin-top: 24px;
    margin-left: auto;
    margin-right: auto;
}


.planes-contenedor-slider{
    display: flex;
    overflow-x: scroll;
    overscroll-behavior: contain;
    scroll-snap-type: x proximity;
    margin-top: 30px;
    padding-top: 20px;
}


.planes-contenedor-tarjeta{
    scroll-snap-align: center;
    position: relative;
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    width: 190px;
    min-width: 190px;
    height: 247px;
    border-radius: 8px;
    background-color: white;
    margin-top: 50px;
    margin-bottom: 64px;
    text-align: center;
    margin: 0 8px;
}

.plan-info-contenedor{
    width: 100%;
}

.planes-contenedor-tarjeta-recomendado{
    position: absolute;
    width: 101px;
    height: 31px;
    background-color: var(--bitcoin-orange);
    border-radius: 8px;
    padding: 8px;
    font-size: 1.2rem;
    line-height: 1.452rem;
    color: white;
    font-weight: 700;
    top: -15.5px;
    left: calc(50% - 50.5px);
    
}

.plan-info-nombre{
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: 500;
    color: black;
    padding-top: 31px;


}

.plan-info-precio{
    width: 77px;
    height: 56px;
    margin-top: 8px;
    font-size: 5.2rem;
    line-height: 6.293rem;
    font-weight: 700;
    letter-spacing: -0.08em;
    margin-left: auto;
    margin-right: auto;
    
}
.plan-info-precio span{
    width: 8px;
    height: 14px;
    font-size: 1.2rem;
    line-height: 1.452rem;
    color: #363636;
    font-weight: 500;
    vertical-align: 31px;
    padding: 5px;
}

.plan-info-descripcion{
    width: 158px;
    height: 30px;
    font-size: 1.2rem;
    line-height: 1.452rem;
    color: #757575;
    font-weight: 500;
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;

}

.plan-info-boton{ 
    display: flex;
    width: 151px;
    height: 48px;
    padding: 15px;
    font-size: 1.4rem;
    line-height: 1.823rem;
    color: var(--warm-black);
    font-weight: 700;
    border-radius: 4px;
    border: 2px solid var(--bitcoin-orange);
    background-color: var(--off-white);
    text-align: center;
    justify-content: space-around;
    align-items: center;
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;
    
}

.plan-info-boton span{
    width: 24px;
    height: 24px;
    background-image: url(./assets/icons/rightarrow.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

footer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    min-width: 320px;
    height: 150px;
    background-color: var(--bitcoin-orange);
}

.footer-hipervinculos{
    display: flex;
    flex-direction: column;
}

.footer-hipervinculos a{
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: 500;
    color: white;
    margin: 4px 0;
}

.footer-logo img{
    width: 64px;
    height: 50px;
}